<div class="container">
  <form action="/results" method="POST">
    <div class="form-group">
      <label for="inputProtein">Protein (UniProt KB ID)</label>
      <input type="text" class="form-control" id="inputProtein" name="inputProtein" placeholder="ex. P01023">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>